

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-1">
			<ul class="nav nav-sidebar">
				<li><a href="/nerds">Nerds</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-md-10 main">
			<div>
				<h1 class="sub-header">Nerds</h1>
				<span class="text-muted">{{ nerds.length }} cadastrados</span>
				

				<!-- LOOP OVER THE TODOS IN $scope.todos -->

				<div class="table-responsive">
			  	<table class="table table-striped">
			      <thead>
			        <tr>
			          <th>Nerd</th>
			          <th>Linguagens</th>
			          <th>Remover</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr ng-repeat="nerd in nerds">
			          <td>{{ nerd.name }}</td>
			          <td>{{ nerd.language }}</td>
			          <td><button class="btn btn-xs btn-danger" ng-click="deleteNerd(nerd._id)" aria-label="Remove">X</button></td>
			        </tr>
			      </tbody>
			    </table>
			  </div>

				<!-- FORM TO CREATE NERDS -->
				<div id="nerd-form" class="row">
					<form>
						<div class="col-md-3">
							<div class="form-group">
								<input type="text" class="form-control input-lg" placeholder="nerd" ng-model="formData.name">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<input type="text" class="form-control input-lg" placeholder="linguagens" ng-model="formData.language">
							</div>
						</div>
						<div class="col-md-4">
							<!-- createToDo() WILL CREATE NEW TODOS -->
							<button type="submit" class="btn btn-primary btn-lg" ng-click="createNerd()">Adicionar</button>
						
						</div>
					</form>
				</div>
			</div>
			<p>{{ tagline }}</p>
		</div>
	</div>
</div>

