<div class="jumbotron text-center">
	<h1>Nerds and Proud</h1>

	<p>{{ tagline }}</p>

	<!-- LOOP OVER THE TODOS IN $scope.todos -->
	<div class="checkbox" ng-repeat="nerd in nerds">
		<label>
			{{ nerd.name }} - {{ nerd.language }}
			<!-- deleteTodo(nerd._id) -->
		</label>
		<button class="btn btn-danger" ng-click="deleteNerd(nerd._id)" aria-label="Remove">X</button>
	</div>

	<!-- FORM TO CREATE NERDS -->
	<div id="nerd-form" class="row">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<form>
				<div class="form-group">

					<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
					<input type="text" class="form-control input-lg text-center" placeholder="nerd" ng-model="formData.name">
					<input type="text" class="form-control input-lg text-center" placeholder="linguagens" ng-model="formData.language">
				</div>

				<!-- createToDo() WILL CREATE NEW TODOS -->
				<button type="submit" class="btn btn-primary btn-lg" ng-click="createNerd()">Adicionar</button>
			</form>
		</div>
	</div>
</div>